image: node:8.17.0

definitions:
  caches:
    apt: /var/cache/apt

buildZip: &buildZip
 - step:
    name: "Build the install zip"
    caches:
      - apt
    script:
      # Set up dependencies.
      - apt-get update && apt-get -qq install zip rsync git
      # Set up vars.
      - repodir=$(pwd -LP)
      - pluginver=$(fgrep 'version =' version.php | cut -f3 -d' ' | tr -d ';')
      # Tag this version as a release.
      - git tag -a "${pluginver}" -m "Tag ${pluginver}"
      - git push origin "${pluginver}":"${pluginver}"
      # Upload to Moodle plugins repo Ref https://docs.moodle.org/dev/Plugins_directory_API
      #TOKEN="d41d8cd98f00b204e9800998ecf8427e"
      # Set the full component name of the plugin.
      #PLUGIN=mod_subcourse
      # Path to the ZIP fle with the new version.
      #ZIP=version.zip
      #CURL="curl -s"
      #HOST="https://moodle.org/"
      #ENDPOINT_REST="${HOST}/webservice/rest/server.php"
      #ENDPOINT_UPLOAD="${HOST}/webservice/upload.php"
      #ITEMID=$(${CURL} -F data=@${ZIP} "${ENDPOINT_UPLOAD}?token=${TOKEN}" | jq --raw-output '.[0].itemid')
      #${CURL} ${ENDPOINT_REST} --data-urlencode "wstoken=${TOKEN}" --data-urlencode "wsfunction=${FUNCTION}" --data-urlencode "moodlewsrestformat=json" --data-urlencode "frankenstyle=${PLUGIN}" --data-urlencode "zipdrafitemtid=${ITEMID}" | jq
      # Make a folder that we will zip up.
      - mkdir -p /tmp/iaparent/integrityadvocate
      # Copy stuff over to the dir to be zipped but skip stuff not needed by Moodle.
      - rsync -av ./ /tmp/iaparent/integrityadvocate --exclude *.pl --exclude *.zip --exclude .git/ --exclude .gitignore --exclude .shifter.json --exclude bitbucket-pipelines.yml --exclude cypress.json --exclude Makefile --exclude phpstan.neon --exclude README_DEVELOPER.txt --exclude workspace.code-workspace --exclude screenshots/ --exclude tests/ --exclude vendor/bin/
      - cd /tmp/iaparent/integrityadvocate
      # Disable debug mode.
      - find ./ \( -type d -name .git -prune \) -o -type f -name '*.php' -print0 |  xargs -0 sed -i 's#$debug = true;#$debug = false;#g'
      - cd /tmp/iaparent/
      #Debug: - ls -altrh
      - zipfilepath="${BITBUCKET_CLONE_DIR}/${BITBUCKET_REPO_SLUG}.zip"
      #Debug:  -$pluginver
      - find . -empty -type d -delete 
      - zip -r9 $zipfilepath ./ -x **/node_modules/**\* -x **/node_modules/\* Gruntfile.js \*.yml
      - curl -vvvv -s -u "${BB_AUTH_STRING}" -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files="@$zipfilepath"


pipelines:
  custom: # Pipelines that are triggered manually.
    build_zip:
      #- <<: *buildJS
      - <<: *buildZip
  tags:
    '*':
      #- <<: *buildJS
      - <<: *buildZip
