.block_integrityadvocate .footer {
    margin-top: .5em;
}
.block_integrityadvocate .content {
    text-align: left;
}
.dir-rtl .block_integrityadvocate .content {
    text-align: right;
}
.block_integrityadvocate_plugininfo {
    font-size: 0.5em;
}
.block_integrityadvocate_modulelist_div_title {
    padding-top: 1em;
}
.block_integrityadvocate_overview_participant_summary_img img {
    max-width: 100%;
}